<ng-container *ngIf="orders">
    <div class="container mt-5">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th class="border-0 bg-light" scope="col">
                            <div class="p-2 px-3 text-uppercase">Order</div>
                        </th>
                        <th class="border-0 bg-light" scope="col">
                            <div class="py-2 text-uppercase">Date</div>
                        </th>
                        <th class="border-0 bg-light" scope="col">
                            <div class="py-2 text-uppercase">Total</div>
                        </th>
                        <th class="border-0 bg-light" scope="col">
                            <div class="py-2">Status</div>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of orders" routerLink="/orders/{{item.id}}" style="cursor: pointer;">                    
                        <td class="align-middle">
                            <strong>#{{item.id}}</strong>
                        </td>
                        <td class="align-middle">
                            {{item.orderDate | date:'medium'}}
                        </td>
                        <td class="align-middle">
                            {{item.total | currency}}
                        </td>
                        <td class="align-middle text-center">
                            {{item.status}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</ng-container>