<div class="container mt-5">
    <h4>Internal Server Error</h4>
    <ng-container *ngIf="error">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p>What to do next?</p>
        <ol>
            <li>Open chrome dev tool</li>
            <li>Inspect the network tab</li>
            <li>Check the failed request</li>        
            <li>Examine this request URL - make sure this is correct</li>
            <li>Reproduce the error in postman - if we have the same response in Postman, then the issue is NOT with Angular</li>
        </ol>
        <p>Following is the stack trace</p>
        <code class="mt-5" style="background-color: whitesmoke">{{error.details}}</code>
    </ng-container>
</div>