<div class="container mt-5">
    <button class="btn-outline-primary mr-3" (click)="get500Error()">Test 500 error</button>
    <button class="btn-outline-primary mr-3" (click)="get404Error()">Test 404 error</button>
    <button class="btn-outline-primary mr-3" (click)="get400Error()">Test 400 error</button>
    <button class="btn-outline-primary mr-3" (click)="get400ValidationError()">Test 400 validation error</button>
    <div class="row mt-5" *ngIf="validationErrors">
        <ul class="text-danger">
            <li *ngFor="let error of validationErrors">{{error}}</li>
        </ul>
    </div>
</div>