<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <app-stepper [linearModeSelected]="true" #appStepper>
                <cdk-step [label]="'Address'" [completed]="(checkoutForm.get('addressForm')).valid">
                    <app-checkout-address [checkoutForm]="checkoutForm"></app-checkout-address>
                </cdk-step>
                <cdk-step [label]="'Delevery'" [completed]="(checkoutForm.get('deliveryForm')).valid">
                    <app-checkout-delivery [checkoutForm]="checkoutForm"></app-checkout-delivery>
                </cdk-step>
                <cdk-step [label]="'Review'">
                    <app-checkout-review [items]="(basket$ | async).items" [appStepper]="appStepper" ></app-checkout-review>
                </cdk-step>
                <cdk-step [label]="'Payment'" >
                    <app-checkout-payment [checkoutForm]="checkoutForm"></app-checkout-payment>
                </cdk-step>
            </app-stepper>
        </div>
        <div class="col-4">
            <app-order-totals
                *ngIf="(basketTotal$ | async)"
                [shippingPrice]="(basketTotal$ | async).shipping"
                [subtotal]="(basketTotal$ | async).subtotal"
                [total]="(basketTotal$ | async).total"></app-order-totals>
        </div>
    </div>
</div>