<div class="container mt-5">
    <div>
        <i class="fa fa-check-circle fa-5x" style="color: green;"></i>
    </div>
    <h2>Thank you! Your order is confirmed</h2>
    <p class="mb-4">Your order is not shipped yet, but this to be expected as we are a real store!</p>

    <button *ngIf="order && order.id" class="btn btn-outline-success" routerLink="/orders/{{[order.id]}}">View your order</button>
    <button *ngIf="!order" class="btn btn-outline-success" routerLink="/orders">View your orders</button>
</div>