<div class="container mt-3">
    <div class="row">
        <section class="col-3">
            <ng-container *ngIf="types && brands">
                <h5 class="text-warning ml-3 mt-4 mb-2">Sort</h5>
                <select class="custom-select mb-4" (change)="onSortSelected($event.target.value)">
                    <option *ngFor="let sort of sortOptions" 
                        [selected]="shopParams.sort === sort.value"
                        [value]="sort.value">
                        {{ sort.name }}
                    </option>
                </select>

                <h5 class="text-warning ml-3">Brands</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let brand of brands"
                        [class.active]="brand.id === this.shopParams.brandId" [value]="brand.id"
                        (click)="onBrandSelected(brand.id)">
                        {{ brand.name }}
                    </li>
                </ul>

                <h5 class="text-warning ml-3">Types</h5>
                <ul class="list-group my-3">
                    <li class="list-group-item" *ngFor="let productType of types"
                        [class.active]="productType.id === this.shopParams.typeId" [value]="productType.id"
                        (click)="onTypeSelected(productType.id)">
                        {{ productType.name }}
                    </li>
                </ul>
            </ng-container>
        </section>

        <section class="col-9">
            <div class="d-flex justify-content-between align-items-center pb2">
                <app-paging-header [totalCount]="totalCount" [pageSize]="this.shopParams.pageSize"
                    [pageNumber]="this.shopParams.pageNumber"></app-paging-header>

                <div class="form-inline " *ngIf="products">
                    <input (keyup.enter)="onSearch()" class="form-control mr-2" #search style="width: 300px"
                        placeholder="Search" type="text" />
                    <button (click)="onSearch()" class="btn btn-outline-primary my-2">
                        Search
                    </button>
                    <button (click)="onReset()" class="btn btn-outline-success my-2">
                        Reset
                    </button>
                </div>
            </div>

            <div class="row">
                <div class="col-4 mb-4" *ngFor="let item of products">
                    <app-product-item [product]="item"></app-product-item>
                </div>
            </div>
            <div class="d-flex justify-content-center" *ngIf="totalCount && totalCount > 0">
                <app-pager 
                    [pageSize]="shopParams.pageSize" 
                    [totalCount]="totalCount"
                    [pageNumber]="shopParams.pageNumber"
                    (pageChanged)="onPageChanged($event)"></app-pager>
            </div>
        </section>
    </div>
</div>