<div class="container mt-5">
    <div class="row">
        <div class="col-8">
            <app-basket-summary [isBasket]=false [items]="orderItems" [isOrder]=true></app-basket-summary>
        </div>
        <div class="col-4">
            <app-order-totals 
                [shippingPrice]="shippingPrice"
                [subtotal]="subtotal"
                [total]="total"
                [isBasket]=false></app-order-totals>
        </div>
    </div>
</div>